header .logo h2{
	color: white;
	font-size: 35px;
}
body{
	font-family: "lucida sans";
}

.sections {
    padding: 20px 0;
}

/* Header */
header{
	height: auto;
	padding: 10px 0;
	background-color: rgb(54, 53, 53);
}

header .logo h2{
	color: white;
	font-size: 35px;
}

header .logo a:hover{
	color: white;
	font-size: 35px;
	text-decoration: none;
}

header nav .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

header nav .nav-list .list a{
	color: white;
	display: block;
	padding: 15px;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

header nav .nav-list .list a:hover{
	color: rgb(12, 151, 47);
}

.error{
    background-color: rgb(233, 37, 31);
    border-radius: 4px;
    color: white;
    text-align: center;
}

.success{
    background-color: rgb(23, 124, 23);
    border-radius: 4px;
    color: white;
    text-align: center;
}

